* {
    margin: 0;
}
.wrapper {
    font-family: sans-serif;
}
.banner {
    text-align: center;
    background: #6e85f7;
    color: aliceblue;
    padding: 70px;
}               
.banner_title {
    font-size: 32px;
    text-transform: uppercase;
}
.banner_desc {
    margin-top: 20px;
    font-size: 18px;
}